html {
    scroll-behavior: smooth;
    transition: scroll-behavior 0.5s ease-in-out;
}

p {
    text-align: justify;
}

header {
    text-align: center;
    margin-top: 50px;
}

header p {
    font-size: 1.2em;
    text-align: center;
}

img {
    transition: transform 0.3s ease-in-out;
}

main img:hover {
    transform: rotate(2deg);
}


footer img {
    width: 15%;
}
.final-footer {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.final-footer p {
    text-align: center;
}
